ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 30px 60px;
    text-decoration: none;
  }
    
  li a:hover:not(.active) {
      color: rgb(255, 255, 255);
    background-color: rgb(5, 0, 0);
  }
  
  .active {
    background-color: #000000;
    color: white;
    padding: 30px 80px;
  }
  active a:hover:not(.active) {
    color: white;

}



.pesquisar{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;

  }


.imag{
    width: 135px;
    margin-top: 10px;
}
