body{
  background-color: #040507
}
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient(
      #3f3a0c,
      #635c1b
  );
  left: -80px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #3f2806,
      #4d3412
  );
  right: -30px;
  bottom: -80px;
}



form{
  height: 650px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.342);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 25px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
form p1{
  font-size: 15px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #fcfcfc;
}

form a{
  color:#ffffff;
  font-weight: bold;
  font-size: 18px;
}
 
.imag{
 width: 200px;
 margin-left: 120px;
 
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}

.button_r{
    margin-top: 50px;
    width: 100%;
    background-color: #0e1116;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.align {
  align-items: center;
  display: flex;
  flex-direction: row;


}
